---
import '../styles/global.css';
const pageTitle = "faq";
import Header from '../components/Header.astro';
---


<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <Header/>
    <script>
        import "../../public/scripts/menu.js";
    </script>
    <meta name="viewport" content="width=device-width"/>
    <title>{pageTitle}</title>
</head>
<h2>Руководство к использованию</h2>
<p>Здесь собрана вся информация о нашем продукте, устройства и способы подключения, ответы на популярные вопросы и
    т.д.</p>
<h3>По ссылке вы можете ознакомиться с документацией https://faq.fastfive.ru/guides/example/</h3>

<style>

</style>

