---
import './theme-switcher.css'; // Убедитесь, что CSS существует
---
<div class="container">
  <label id="switch" class="switch">
    <input type="checkbox" onchange="toggleTheme()" id="slider">
    <span class="slider round"></span>
  </label>
</div>
<script type="module" src="/scripts/theme-switcher.js"></script>
