---
import '../styles/global.css'
---

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/images/logo.PNG"/>
    <title>VPN SHOP</title>
</head>
<body>
<slot/>
</body>
</html>

<style>
    html,
    body {
		overflow-x: hidden;
        max-width: 1350px; /* Устанавливаем максимальную ширину */
        margin: 0 auto; /* Центрируем контейнер */
        width: 100%;
        line-height: 1.5;
    }
</style>
